name: SSHX Runner

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  run-sshx:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install SSHX
        run: curl -sSf https://sshx.io/get | sh -s run

      - name: Keep runner alive
        run: tail -f /dev/null
